    
        <!DOCTYPE html>
        <html>
            <head>
                <title>Epic Blog by Marcus</title>
            </head>
            <body>
                <header>
                    <h1><a href="/">My Blog</a></h1>
                </header>
                
                {% for post in posts %}
                    <article>
                        <h2><a href="">{{ post.title }}</a></h2>
                        <p>{{ post.text|linebreaksbr }}</p>
                        <time style="color: rgb(67, 126, 12)" >published: {{ post.published_date }}</time>
                    </article>
                {% endfor %}
            </body>
        </html>